<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @product.subtitle %>
</p>

<p>
  <strong>Url:</strong>
  <%= @product.url %>
</p>

<p>
  <strong>Body:</strong>
  <%= @product.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
